body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.img-banner{
  margin: 0;
  margin-right: 15px;
  margin-left: -15px;
}
